:root {
  --main-color : rgb(50, 82, 98);
  --main-yellow : rgb(249, 237, 3);
  --main-dark-yellow : rgb(252, 204, 0);
  --main-grey : rgb(75, 79, 88);
  --test : linear-gradient(45deg, rgb(9, 11, 14) 0%, rgb(50, 82, 98) 100%);
  --font-color : rgb(233, 236, 240);
  --background : rgba(0, 0, 0, 0.71);

}

* {
  box-sizing: border-box;
  
}

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
  background-color: var(--background);
  scroll-behavior: smooth;
  
}

a {
  color: white;
  text-decoration: none;
  
}
button{ 
  cursor: pointer;
  border-radius: 5px;
  color: var(--background);
  
}

a,
p,
div
,h1
,h2
,h3{
  color: var(--font-color);
  
}




.MuiList-root{

  background-color: black;
}

@media (width> 435px) {

  .MuiPaper-paper{ 
    display : none;

  }
}  



/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}




*/
